{# Apple megamenu #}
<div id="mega-menu-apple-dropdown" class="mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600 hidden">
            <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-sm text-gray-500 dark:text-gray-400 md:px-6 grid-cols-12">
                 <div class="col-span-3">
                    <!-- First column content -->
                    <div style="display: flex; flex-direction: column;">
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category 1</span>
                        <span class="font-light text-xs">34 MODELS</span>
                    </button>
                    
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category 2</span>
                        <span class="font-light text-xs">34 MODELS</span>
                    </button>

                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category 1</span>
                        <span class="font-light text-xs">34 MODELS</span>
                    </button>
                    
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category 2</span>
                        <span class="font-light text-xs">34 MODELS</span>
                    </button>

                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category 1</span>
                        <span class="font-light text-xs">34 MODELS</span>
                    </button>
                    </div>
                </div>
        <div class="col-span-6 bg-gray-100">
        <!-- Second column content -->
            <p class="font-light mt-3 ml-6">MODELS</p>
        <div style="display: flex; flex-direction: raw;" class=" ml-5 gap-5 text-xs font-bold">
                <ul class="ml-6 hidden space-y-1 sm:block mt-3 ">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 14 Pro Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 14 Pro </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 14 Plus </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 14 </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 13 Pro Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 13 Pro </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 13 Mini </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 13 </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 12 Pro Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 12 Pro </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 12 Mini </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 12 </a>
                    </li>
              </ul>

               <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 11 Pro Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 11 Pro </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 11 </a>
                    </li>
              </ul>
        </div>
         <div style="display: flex; flex-direction: raw;" class="text-xs  ml-5 gap-5 font-bold">
                <ul class="ml-6 hidden space-y-1 sm:block mt-3 ">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone XS Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone XS </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone XR </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone X </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 8 Plus </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 8 </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 7 Plus </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 7 </a>
                    </li>
              </ul>

               <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 6S Plus</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 6S </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 6 Plus </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 6 </a>
                    </li>
              </ul>
        </div>

         <div style="display: flex; flex-direction: raw;" class="text-xs  ml-5 gap-5 font-bold">
                <ul class="ml-6 hidden space-y-1 sm:block mt-3 ">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone SE (2022) </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone SE (2020) </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone SE (2016) </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 5S </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 5C </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 5 </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-span-2 border-2 border-gray-50">
            <!-- Third column content -->
             <div style="display: flex; flex-direction: column; margin-left: 10px;" class="bg-white">
              <p class="font-light mt-2 ml-5">Popular iPhone Parts </p>
              <ul class=" hidden space-y-1 sm:block md:mb-0 mt-4 ml-5 font-medium">
              <li>
                <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> Camera Glass </a>
              </li>
              <li>
                <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> Charging Ports </a>
              </li>
              <li>
                <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500">  Back Covers</a>
              </li>
              <li>
                <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> Batteries </a>
              </li>
              </ul>
            </div>
        </div>
    </div>
</div>


{# Samsung megamenu #}
<div id="mega-menu-samsung-dropdown" class="mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600 hidden">
            <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-sm text-gray-500 dark:text-gray-400 md:px-6 grid-cols-12">
                 <div class="col-span-2">
                    <!-- First column content -->
                    <div style="display: flex; flex-direction: column;">
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>
                    
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>

                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>
                    
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>

                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>
                    </div>
                </div>

                <div class="col-span-2">
                    <!-- First column content -->
                    <div style="display: flex; flex-direction: column;">
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>
                    
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>

                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>
                    
                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>

                    <button class="custom-button flex items-center justify-between w-full px-4 py-2 mb-2 text-sm font-medium text-gray-700 bg-gray-50 rounded-md transition-colors duration-300 ease-in-out focus:outline-none focus:border-blue-400 hover:bg-gray-200 focus:bg-gray-200" onclick="toggleActive(this)">
                        <span class="font-bold" style="padding: 10px 0 10px 5px;">Category</span>
                    </button>
                    </div>
                </div>
        <div class="col-span-6 bg-gray-100">
        <!-- Second column content -->
            <p class="font-light mt-3 ml-6">MODELS</p>
        <div style="display: flex; flex-direction: raw;" class=" ml-5 gap-5 text-xs font-bold">
                <ul class="ml-6 hidden space-y-1 sm:block mt-3 ">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 14 Pro Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 14 Pro </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 14 Plus </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 14 </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 13 Pro Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 13 Pro </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 13 Mini </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 13 </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 12 Pro Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 12 Pro </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 12 Mini </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 12 </a>
                    </li>
              </ul>

               <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 11 Pro Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 11 Pro </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 11 </a>
                    </li>
              </ul>
        </div>
         <div style="display: flex; flex-direction: raw;" class="text-xs  ml-5 gap-5 font-bold">
                <ul class="ml-6 hidden space-y-1 sm:block mt-3 ">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone XS Max </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone XS </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone XR </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone X </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 8 Plus </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 8 </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 7 Plus </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 7 </a>
                    </li>
              </ul>

               <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 6S Plus</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 6S </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 6 Plus </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 6 </a>
                    </li>
              </ul>
        </div>

         <div style="display: flex; flex-direction: raw;" class="text-xs  ml-5 gap-5 font-bold">
                <ul class="ml-6 hidden space-y-1 sm:block mt-3 ">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone SE (2022) </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone SE (2020) </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone SE (2016) </a>
                    </li>
                </ul>

                <ul class=" hidden space-y-1 sm:block md:mb-0 mt-3">
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 5S </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 5C </a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> iPhone 5 </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-span-2 border-2 border-gray-50">
            <!-- Third column content -->
             <div style="display: flex; flex-direction: column; margin-left: 10px;" class="bg-white">
              <p class="font-light mt-2 ml-5">Popular iPhone Parts </p>
              <ul class=" hidden space-y-1 sm:block md:mb-0 mt-4 ml-5 font-medium">
              <li>
                <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> Camera Glass </a>
              </li>
              <li>
                <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> Charging Ports </a>
              </li>
              <li>
                <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500">  Back Covers</a>
              </li>
              <li>
                <a href="#" class="hover:text-blue-600 hover:underline dark:hover:text-blue-500"> Batteries </a>
              </li>
              </ul>
            </div>
        </div>
    </div>
</div>
