{# iphonescreens megamenu #}
<div id="mega-menu-iphonescreens-dropdown" class="mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600 hidden">
  <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-sm md:px-6 grid-cols-12">  
    <div class="col-span-6">
      <div class="grid grid-cols-5 gap-4">
        <div class="bg-gray-200 h-40 w-40 relative flex justify-center items-center">
          <div class="border border-gray-400 absolute inset-1"></div>
          <div class="absolute inset-0 flex flex-col justify-center items-center">
            <div class="text-black-600 text-4xl font-extrabold">Md</div>
            <div class="font-light text-gray-600 text-sm mt-2">VALUE</div>
          </div>
        </div>
        <div class="bg-gray-200 h-40 w-40 relative flex justify-center items-center">
          <div class="border border-gray-400 absolute inset-1"></div>
          <div class="absolute inset-0 flex flex-col justify-center items-center">
            <div class="text-black-600 text-4xl font-extrabold">Mx</div>
            <div class="font-light text-gray-600 text-sm mt-2">SELECT</div>
          </div>
        </div>
        <div class="bg-gray-200 h-40 w-40 relative flex justify-center items-center">
          <div class="border border-gray-400 absolute inset-1"></div>
          <div class="absolute inset-0 flex flex-col justify-center items-center">
            <div class="text-black-600 text-4xl font-extrabold">Re</div>
            <div class="font-light text-gray-600 text-sm mt-2">REFRESH</div>
          </div>
        </div>
        <div class="bg-gray-200 h-40 w-40 relative flex justify-center items-center">
          <div class="border border-gray-400 absolute inset-1"></div>
          <div class="absolute inset-0 flex flex-col justify-center items-center">
            <div class="text-black-600 text-4xl font-extrabold">Rc</div>
            <div class="font-light text-gray-600 text-sm mt-2">RECLAIMED</div>
          </div>
        </div>
        <div class="bg-gray-200 h-40 w-40 relative flex justify-center items-center">
          <div class="border border-gray-400 absolute inset-1"></div>
          <div class="absolute inset-0 flex flex-col justify-center items-center">
            <div class="text-black-600 text-4xl font-extrabold">Sa</div>
            <div class="font-light text-gray-600 text-sm mt-2">SAVER</div>
          </div>
        </div>
      </div>
      <div class="text-center mt-4 text-xl text-gray-600 font-bold">All iPhone screens</div>
     
    <section class="text-gray-600 body-font">
    <div class="container mx-auto mt-5 flex flex-wrap raw bg-light">
      <div class="flex flex-wrap -mx-4 lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 mb-2">
          <h1 class="title-font text-xl text-gray-800 font-bold">Our Product Ranges</h1>
          <p class="text-gray-500 mt-2">Sit nibh sit augue diam nec nunc quis sit viverra.</p>
        </div>
      </div>
      <div class="col mt-3 flex-container text-end">
        <a href="{{ path('sylius_shop_homepage') }}" class="inline-flex items-center px-4 py-2 bg-white text-gray-800 font-semibold rounded shadow hover:bg-gray-200 transition-colors duration-300 ease-in-out">
          <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
            <path d="M10.5 8.9V1.7C10.5 1.38174 10.3683 1.07652 10.1339 0.851472C9.89946 0.626428 9.58152 0.5 9.25 0.5H1.75C1.41848 0.5 1.10054 0.626428 0.866116 0.851472C0.631696 1.07652 0.5 1.38174 0.5 1.7V10.7C0.5 11.1774 0.697544 11.6352 1.04917 11.9728C1.40081 12.3104 1.87772 12.5 2.375 12.5H9.875C10.0408 12.5 10.1997 12.4368 10.3169 12.3243C10.4342 12.2117 10.5 12.0591 10.5 11.9C10.5 11.7409 10.4342 11.5883 10.3169 11.4757C10.1997 11.3632 10.0408 11.3 9.875 11.3H9.25V10.1C9.58152 10.1 9.89946 9.97357 10.1339 9.74853C10.3683 9.52348 10.5 9.21826 10.5 8.9ZM3 1.7H4.25V8.9H3V1.7ZM8 11.3H2.375C2.20924 11.3 2.05027 11.2368 1.93306 11.1243C1.81585 11.0117 1.75 10.8591 1.75 10.7C1.75 10.5409 1.81585 10.3883 1.93306 10.2757C2.05027 10.1632 2.20924 10.1 2.375 10.1H8V11.3Z" fill="#1F2A37"/>
          </svg>
              Learn more
        </a>
      </div>
    </div>
  </section>
  </div>
  <div class="col-span-3"></div>
  <div class="col-span-3 bg-gray-50">
    <div class="mt-2 ml-2">
        <p>Featured</p>
        <div class="ml-5">
          <div class="bg-gray-100 h-40 w-60 relative flex justify-center items-center mt-3">
            <div class="absolute inset-0 flex flex-col justify-center items-center">
                <div class="text-gray-200 text-xl">Product Graphic</div>
            </div>
          </div>
          <p class="font-extrabold mt-2">Product Name</p>

          <div class="bg-gray-100 h-40 w-60 relative flex justify-center items-center mt-4">
            <div class="absolute inset-0 flex flex-col justify-center items-center">
                <div class="text-gray-200 text-xl">Product Graphic</div>
            </div>
          </div>
          <p class="font-extrabold mt-2">Product Name</p>
        </div>
        </div>
</div>

</div>
</div>