{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

 {# Delivery info section  #}
<section class="newsletter grid bg-light rounded-3 text-center">
    <div class="g-col-12 g-col-lg-6 g-start-lg-4 p-3 py-lg-5">
        <nav style="display: flex; justify-content: center;">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;">
                <path d="M22.7 11.5L20.7005 13.5L18.7 11.5M20.9451 13C20.9814 12.6717 21 12.338 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C14.8273 21 17.35 19.6963 19 17.6573M12 7V12L15 14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <b>Order by 3pm</b>&nbsp;for next day delivery
        </nav>
    </div>
</section>


<section class="text-gray-600 body-font">
  <div class="container px-5 mt-5 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">What line is right for you?</h1>
      <p class="lg:w-2/3 mx-auto mt-2 leading-relaxed text-base">Suspendisse quis praesent ultricies eu bibendum cras aliquet diam viverra. Nunc sodales ultricies fermentum leo.</p>
    </div>
    <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
    <button class="mt-3" style="display: block; margin: 0 auto; color: white; background-color: black; border: 1px solid transparent; padding: 0.5rem 1rem; font-size: 1rem; cursor: pointer; transition: border-color 0.3s ease; outline: none; border-radius: 8px;"
    onmouseover="this.style.color='black'; this.style.backgroundColor='white'; this.style.borderColor='black';"
    onmouseout="this.style.color='white'; this.style.backgroundColor='black'; this.style.borderColor='transparent';">
    Learn More
</button>
    </div>
  </div>
</section>

<div style="display: flex; justify-content: space-between;">
    <button style="flex-basis: calc(16.666% - 10px); margin-bottom: 10px; padding: 10px; background-color: #F9FAFB; color: #667085; border: none; cursor: pointer; border-radius: 5px; transition: border-color 0.3s ease;"
            onclick="this.style.borderColor='#000';"
            onmouseout="if(this.style.borderColor!=='black') this.style.borderColor='transparent';">Value</button>
    <button style="flex-basis: calc(16.666% - 10px); margin-bottom: 10px; padding: 10px; background-color: #F9FAFB; color: #667085; border: none; cursor: pointer; border-radius: 5px; transition: border-color 0.3s ease;"
            onclick="this.style.borderColor='#000';"
            onmouseout="if(this.style.borderColor!=='black') this.style.borderColor='transparent';">Select</button>
    <button style="flex-basis: calc(16.666% - 10px); margin-bottom: 10px; padding: 10px; background-color: #F9FAFB; color: #667085; border: none; cursor: pointer; border-radius: 5px; transition: border-color 0.3s ease;"
            onclick="this.style.borderColor='#000';"
            onmouseout="if(this.style.borderColor!=='black') this.style.borderColor='transparent';">Prime</button>
    <button style="flex-basis: calc(16.666% - 10px); margin-bottom: 10px; padding: 10px; background-color: #F9FAFB; color: #667085; border: none; cursor: pointer; border-radius: 5px; transition: border-color 0.3s ease;"
            onclick="this.style.borderColor='#000';"
            onmouseout="if(this.style.borderColor!=='black') this.style.borderColor='transparent';">Refresh</button>
    <button style="flex-basis: calc(16.666% - 10px); margin-bottom: 10px; padding: 10px; background-color: #F9FAFB; color: #667085; border: none; cursor: pointer; border-radius: 5px; transition: border-color 0.3s ease;"
            onclick="this.style.borderColor='#000';"
            onmouseout="if(this.style.borderColor!=='black') this.style.borderColor='transparent';">Refresh +</button>
    <button style="flex-basis: calc(16.666% - 10px); margin-bottom: 10px; padding: 10px; background-color: #F9FAFB; color: #667085; border: none; cursor: pointer; border-radius: 5px; transition: border-color 0.3s ease;"
            onclick="this.style.borderColor='#000';"
            onmouseout="if(this.style.borderColor!=='black') this.style.borderColor='transparent';">Reclaimed</button>
</div>

{# Explore range #}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">A low price doesn't have to mean low quality
      </h1>
      <p class="mb-8 leading-relaxed">Our VALUE screens deliver great quality and reliability at a very competitive price point. Despite being more affordable than our other options, you can still expect an impressive screen packed with many great features.</p>
      <div class="flex justify-center">
        <button class="mt-3" style="display: block; margin: 0 auto; color: white; background-color: black; border: 1px solid transparent; padding: 0.5rem 1rem; font-size: 1rem; cursor: pointer; transition: border-color 0.3s ease; outline: none; border-radius: 8px;"
            onmouseover="this.style.color='black'; this.style.backgroundColor='white'; this.style.borderColor='black';"
            onmouseout="this.style.color='white'; this.style.backgroundColor='black'; this.style.borderColor='transparent';">
            Explore range
        </button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
    </div>
  </div>
</section>

{# Product banner  #}
<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto flex flex-col">
    <div class="lg:w-6/6 mx-auto relative">
      <!-- Image -->
      <div class="rounded-lg overflow-hidden">
         {% set src = use_webpack ? asset('build/shop/images/homepage-banner.jpg', 'shop') : asset('assets/shop/img/homepage-banner.jpg') %}

    <img class="img-fluid rounded-3 object-fit-cover " style="min-height: 240px" src="{{ src }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
      </div>

       <!-- Text Overlay -->
        <div class="absolute inset-0 flex flex-col justify-center items-center">
          <div class="text-center">
            <h2 class="text-4xl text-white font-extrabold title-font mb-2 mt-5">Product banner title</h2>
            <p class="leading-relaxed text-white">Lectus elementum lacus vel cursus convallis et eget nec. Ac luctus dui nisi sagittis ornare turpis volutpat habitant.</p>
            <div> 
              <button class="mt-3 inline-block text-white bg-black border border-transparent px-4 py-2 text-base font-medium rounded-md transition-colors duration-300 hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
                O Button text O
              </button>
            </div>
          </div>
        </div> 
    </div>
  </div>
</section>

{# List products #}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 md:flex-row flex-col gap-5 justify-center mt-5">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 relative">
            <img class="w-full h-full object-cover object-center rounded" alt="hero" src="https://dummyimage.com/384x480">
            <div class="absolute bottom-2 left-1/2 transform -translate-x-1/2 text-center mb-5">
                <h2 class="text-2xl text-gray-900 font-medium">Product Title </h2>
                <button class="mt-3 px-4 py-2 bg-gray-900 text-white rounded">Shop Products</button>
            </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 relative">
            <img class="w-full h-full object-cover object-center rounded" alt="hero" src="https://dummyimage.com/384x480">
            <div class="absolute bottom-2 left-1/2 transform -translate-x-1/2 text-center mb-5">
                <h2 class="text-2xl text-gray-900 font-medium">Product Title</h2>
                <button class="mt-3 px-4 py-2 bg-gray-900 text-white rounded">Shop Products</button>
            </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 relative">
            <img class="w-full h-full object-cover object-center rounded" alt="hero" src="https://dummyimage.com/384x480">
            <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 text-center mb-5">
                <h2 class="text-2xl text-gray-900 font-medium">Product Title</h2>
                <button class="mt-3 px-4 py-2 bg-gray-900 text-white rounded">Shop Products</button>
            </div>
        </div>
    </div>
</section>

{# Who we are  #}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap raw bg-light">
  <div class="col-2"></div>
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10 col-6">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-extrabold text-4xl mb-2 text-gray-900">Who we are</h1>
        <p class="font-extrabold text-xl mt-5">A professional and reliable outlet for replacement parts.</p>
        <div class="leading-relaxed">Never before has it been more important to extend the life of our electronics, in particular our smartphones. A critical part of achieving this is a reliable supply chain of replacement parts.</div>
      </div>
    </div>
    <div class="col-2 mt-3 flex-container">
    <a href="{{ path('sylius_shop_homepage') }}">
        <svg width="168" height="32" viewBox="0 0 168 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M47.9576 0.186784C47.9809 0.124753 48.0041 0.0627232 48.0287 0.00135432L48.0273 0H43.8951L43.8943 0.00135564H43.8964C43.8834 0.0248797 43.8715 0.0497068 43.8596 0.0746243L43.8596 0.0747703C43.8331 0.130139 43.8065 0.185943 43.7663 0.228881C43.2623 0.765191 42.6743 1.1769 41.9536 1.35567C41.6948 1.41933 41.4171 1.4437 41.1515 1.42881C40.834 1.41092 40.5744 1.29136 40.3942 1.10484C40.1368 0.839326 40.041 0.43748 40.1693 0H36.0371L35.8694 0.329125C35.7204 0.621258 35.5715 0.913262 35.4247 1.2067L35.419 1.21811C31.0909 9.8684 26.7627 18.5187 22.4373 27.169C21.8111 28.4209 21.1888 29.6757 20.5662 30.931L20.5659 30.9316L20.5656 30.9323L20.5653 30.9329L20.565 30.9335L20.5647 30.9341L20.5644 30.9347L20.2235 31.622C20.1881 31.6937 20.1578 31.768 20.1216 31.8568L20.1214 31.8573L20.1213 31.8577L20.1211 31.8581C20.1048 31.898 20.0874 31.9408 20.0677 31.9876H20.3604L22.6483 31.9891C25.7018 31.9911 28.7546 31.993 31.8073 31.9985C32.0024 31.9985 32.1216 31.9375 32.1975 31.7547C32.2413 31.6491 32.2966 31.5489 32.3518 31.4487L32.3519 31.4486C32.3838 31.3908 32.4157 31.3329 32.4454 31.2739C35.6348 24.9007 38.8225 18.5276 42.0106 12.1537L42.0598 12.0552L44.4641 7.24831L45.2321 5.71241L45.2356 5.70539C46.0883 4.00034 46.9409 2.29553 47.7902 0.589128C47.8554 0.459708 47.9065 0.323246 47.9576 0.186784ZM28.0449 0.00135564C28.0065 0.0871691 27.9689 0.173345 27.9312 0.259487L27.9312 0.259502L27.9312 0.259513L27.9312 0.259522L27.9312 0.259531C27.843 0.461588 27.7549 0.663453 27.6561 0.859993C25.776 4.62404 23.8934 8.38727 22.011 12.1503L22.0106 12.1511L22.0098 12.1528L20.3942 15.3823C19.1074 17.9544 17.8205 20.5268 16.5336 23.0992C15.2477 25.6699 13.9617 28.2405 12.6758 30.8107C12.6089 30.9445 12.5394 31.0771 12.4698 31.2098L12.4698 31.2099L12.4698 31.2099L12.4698 31.2099L12.4698 31.2099L12.4698 31.21L12.4698 31.21L12.4698 31.21L12.4697 31.21C12.3718 31.397 12.2737 31.5841 12.1826 31.775C12.104 31.9389 12.0011 32.0039 11.8155 31.9998C11.3126 31.9882 10.8098 31.9885 10.3069 31.9889L10.0555 31.989C6.97466 31.989 3.89242 31.989 0.811542 31.9876C0.631106 31.9876 0.45127 31.9804 0.271235 31.9732C0.180907 31.9696 0.0905292 31.966 0 31.9632V31.8955C0.120281 31.8955 0.151916 31.8103 0.182291 31.7284L0.182295 31.7284C0.19058 31.706 0.198772 31.684 0.208644 31.6639C0.317336 31.4466 0.42311 31.228 0.528821 31.0096C0.639208 30.7814 0.749526 30.5535 0.863026 30.3272L2.60766 26.837L2.60829 26.8357L2.60858 26.8351L2.6099 26.8325C4.54869 22.9536 6.48762 19.0744 8.42974 15.1968C9.86828 12.3239 11.3086 9.45244 12.749 6.58099C13.7965 4.49266 14.844 2.40435 15.8908 0.315557C15.924 0.250051 15.9421 0.176373 15.9602 0.103088V0.103083L15.9602 0.103076L15.9602 0.103069C15.9686 0.068786 15.977 0.0345894 15.987 0.00135564H20.1192L20.118 0.0873344L20.1168 0.173431C20.1158 0.227835 20.1152 0.2824 20.1164 0.337277L20.1165 0.339935C20.1172 0.390304 20.1203 0.439342 20.1258 0.486957C20.1859 1.01698 20.5299 1.36956 21.0754 1.42314C21.0933 1.4249 21.1115 1.42634 21.1299 1.42745L21.1299 1.42745C21.1963 1.43151 21.2634 1.43312 21.3309 1.43228C21.5322 1.42975 21.7361 1.40536 21.9302 1.35911L21.9333 1.35838C22.7178 1.17013 23.3369 0.706955 23.8721 0.12189C23.8902 0.101893 23.8969 0.0705128 23.9035 0.0395202V0.0395136L23.9035 0.0394245V0.0394207V0.0394177V0.0394152V0.039413V0.0394113V0.0394098C23.9063 0.0263612 23.9091 0.0133836 23.9127 0.00135564H28.0449ZM167.979 17.1773C167.986 17.1627 167.993 17.1481 167.999 17.1335H168V15.102C167.993 15.0631 167.985 15.0242 167.978 14.9853L167.978 14.9835L167.977 14.9831L167.977 14.9828L167.977 14.9825L167.977 14.9821C167.962 14.9014 167.946 14.8205 167.935 14.739C167.922 14.6466 167.913 14.5535 167.903 14.4604L167.903 14.4601L167.903 14.4598L167.903 14.4595L167.903 14.4593L167.903 14.459L167.903 14.4587C167.884 14.2836 167.866 14.1084 167.828 13.9373C166.855 9.53034 162.97 6.51834 158.756 6.42218C156.252 6.3653 154.041 7.12778 152.155 8.7665C149.005 11.5036 147.985 15.8536 149.585 19.7053C151.388 24.0486 156.091 26.4945 160.8 25.3244C162.597 24.8788 164.136 23.9755 165.407 22.6239C166.824 21.1165 167.721 19.3613 167.942 17.2852C167.946 17.2487 167.962 17.2129 167.979 17.1773ZM163.25 16.0162C163.254 18.6544 161.093 20.8023 158.439 20.8023V20.801C155.989 20.8199 153.648 18.8643 153.658 15.9931C153.667 13.2005 155.941 11.2083 158.478 11.2192C161.092 11.23 163.246 13.3834 163.25 16.0162ZM79.6895 21.7097L81.0214 25.5925L81.0228 25.5952H84.9979C85.5092 24.1138 86.0162 22.6325 86.5229 21.1523L86.5242 21.1484L86.5263 21.1425L86.5269 21.1407L86.5279 21.1377C87.2196 19.1168 87.9107 17.0979 88.6112 15.083C88.6494 15.083 88.6811 15.0825 88.7087 15.082C88.7546 15.0811 88.7892 15.0805 88.8239 15.083C88.8672 15.0868 88.9105 15.0938 88.9683 15.1032L89.0112 15.1101L89.0542 15.1169V25.5885H93.9194C93.9939 25.1131 93.9695 6.62532 93.895 6.39237H87.423C87.41 6.42837 87.3971 6.46317 87.3844 6.49733C87.3612 6.55956 87.3388 6.61964 87.3187 6.68084L87.2981 6.74251C85.9678 10.7321 84.6374 14.7217 83.3057 18.7112C83.1881 19.0624 83.1865 19.062 82.8116 18.9747L82.8085 18.974C82.1372 16.9609 81.4608 14.934 80.7843 12.9065L80.7724 12.8707L80.7647 12.8476L80.7541 12.8158L80.7166 12.7035L79.8701 10.1675L79.8537 10.1182L79.7958 9.94504L79.7769 9.88824C79.388 8.72323 78.9992 7.55853 78.6112 6.39508H72.0877C72.0105 6.72283 72.0146 25.2973 72.0891 25.5858H77.0193V15.06C77.0997 15.0662 77.17 15.0713 77.2357 15.0761C77.2995 15.0808 77.3589 15.0851 77.419 15.0898C78.1771 17.3009 78.9325 19.5029 79.6886 21.707L79.6895 21.7097ZM119.11 6.39375C119.158 6.39172 119.203 6.38892 119.247 6.38622C119.319 6.38173 119.388 6.3775 119.457 6.3775C120.431 6.3775 121.406 6.37589 122.38 6.37427C124.747 6.37035 127.113 6.36644 129.48 6.38562C130.775 6.39646 132.075 6.43167 133.342 6.7716C134.373 7.04789 135.315 7.4745 136.045 8.28979C136.699 9.01977 137.077 9.86487 137.182 10.84C137.244 11.4196 137.209 11.9898 137.084 12.5545C136.862 13.5635 136.232 14.2772 135.399 14.8352C135.283 14.9128 135.162 14.9823 135.041 15.0519L135.041 15.0519C134.947 15.1061 134.853 15.1604 134.761 15.2185C134.528 15.3661 134.529 15.5042 134.763 15.6424C134.867 15.703 134.974 15.7597 135.08 15.8163L135.08 15.8165C135.223 15.8927 135.365 15.9687 135.502 16.0541C136.657 16.7759 137.435 17.7727 137.679 19.1352C137.934 20.5572 137.756 21.9061 136.888 23.102C136.217 24.0256 135.303 24.6269 134.228 24.9967C132.976 25.4273 131.681 25.5993 130.367 25.6034C127.633 25.6146 124.898 25.612 122.164 25.6095C121.252 25.6086 120.341 25.6078 119.429 25.6075C119.363 25.6075 119.296 25.6038 119.223 25.5998L119.223 25.5998L119.222 25.5998L119.222 25.5998C119.185 25.5978 119.147 25.5957 119.106 25.5939V6.39375H119.11ZM124.34 21.5838C124.32 21.58 124.296 21.5753 124.265 21.5704V17.3095C124.29 17.3063 124.316 17.3023 124.342 17.2983C124.401 17.289 124.461 17.2798 124.521 17.2798C126.259 17.2757 127.997 17.273 129.736 17.2743C130.257 17.2743 130.772 17.3407 131.26 17.5384C131.971 17.8269 132.447 18.3253 132.544 19.104C132.64 19.8746 132.392 20.5288 131.768 21.0163C131.268 21.4064 130.681 21.5824 130.064 21.5878C128.726 21.6003 127.388 21.5978 126.05 21.5953H126.05H126.05H126.05H126.05C125.502 21.5943 124.955 21.5933 124.408 21.5933C124.388 21.5933 124.369 21.5894 124.34 21.5838ZM124.266 10.4093V14.2149H124.72C125.125 14.2153 125.53 14.2163 125.935 14.2173C126.906 14.2197 127.877 14.222 128.848 14.2163C129.332 14.2136 129.818 14.1892 130.299 14.1432C130.765 14.0998 131.202 13.9495 131.586 13.6732C131.932 13.4254 132.15 13.0963 132.23 12.6764C132.391 11.8259 131.985 11.058 131.176 10.6937C130.661 10.4621 130.114 10.4052 129.557 10.4066C128.728 10.4073 127.9 10.4076 127.071 10.4079H127.071H127.07C126.241 10.4083 125.412 10.4086 124.583 10.4093H124.266ZM116.118 15.5516C115.893 10.6003 111.771 6.39646 106.503 6.41542V6.41407C101.1 6.41 96.7984 10.9158 96.9204 16.2383C97.0396 21.3874 101.332 25.7429 106.785 25.6129C111.97 25.4896 116.37 21.0895 116.118 15.5516ZM111.319 16.0257C111.315 18.6761 109.163 20.8132 106.506 20.8023V20.8037C103.863 20.7929 101.73 18.6557 101.733 16.0202C101.735 13.3455 103.877 11.2178 106.561 11.2232C109.186 11.2287 111.324 13.3861 111.319 16.0257ZM50.0311 31.9876C46.8621 32.0892 44.1633 29.3291 44.0508 26.2507C43.9343 23.0342 46.4706 20.0033 50.0568 20.0073C53.3951 20.01 56.0533 22.6523 56.0533 25.9894C56.0533 29.8708 52.7651 32.138 50.0297 31.989L50.0311 31.9876ZM140.78 6.39508C140.706 6.68897 140.702 25.2634 140.773 25.5803H140.775C141.23 25.644 145.628 25.621 145.87 25.5533V6.39508H140.78Z" fill="black"/>
</svg>

    </a>
</div>
  </div>
</section>

{% include "@SyliusShop/Homepage/_contactUs.html.twig" %}
